.git
.gitignore
.dockerignore
.env
.env.*
!.env.example

__pycache__
*.py[cod]
*.egg-info
.pytest_cache
.mypy_cache
.ruff_cache
.coverage

.venv
venv

.idea
.vscode
.DS_Store

README.md
docs/
scripts/
backups/
*.dump
